# Trying to make doubly sure that no IRB protected data gets uploaded
*.csv
*.jpg
*.JPG
*.png
*.JPEG
*.jpeg
*.hocr
*.xml

# We do however want to some images, hocr and xml files for visualization purposes
!parts_for_viz/*/*

# No MacOS or compiled BS
.DS_Store
.DS_Store?
*.pyc
tmp.*
*.swp
