# Trying to make doubly sure that no IRB protected data gets uploaded
*.csv
*.xlsx
*.jpg
*.JPG
*.png
*.JPEG
*.jpeg
*.hocr
*.xml
*.mp4
# A lot of .txt files might get generated just to test stuff
# We don't want them in version control
*.txt

# some scripts are written for finding errors on ubuntu computer and shouldn't be passed back and forth
ubuntu_scripts.py

# We do however want to some images, hocr and xml files for visualization purposes
!parts_for_viz/*/*
!correct_text/*/*
!requirements.txt

# local paths should not be under version control or there will be conflicts every time
local_paths.py

# No MacOS or compiled BS
.DS_Store
.DS_Store?
*.pyc
tmp.*
*.swp
.*
*.ipynb
nohup.out
!.gitignore

# Similarly there should be nothing from the virtual environment folder
venv_folder/*

# some scripts are just for figuring things out and shouldn't go into the repo
detect_color.py